<div class="row">
    <div class="col-6">
        {{ form.team_name }}
    </div>
    <div class="col-6">
        {{ form.number_of_members }}
    </div>
</div>

<div class="row">
    <div class="col-6">
        {{ form.name1 }}
    </div>
    <div class="col-6">
        {{ form.name2 }}
    </div>
</div>

<div class="row">
    <div class="col-6">
        {{ form.name3 }}
    </div>
    <div class="col-6">
        {{ form.name4 }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form.name5 }}
    </div>
    <div class="col-6">
        {{ form.name6 }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form.name7 }}
    </div>
    <div class="col-6">
        {{ form.name8 }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form.skit_detail_file }}
    </div>
   
</div>

<!-- Repeat for other name fields as needed -->
